<!DOCTYPE html>
<html>
<head>    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/other.css">
    <style>
        :root{
            --foreground-accent: #a0c4ff;
            --foreground-primary: #fff;
            --foreground-secondary: #666;
            --background-dark: #333;
            --background-primary: #242424;
            --background-secondary: #696969;
            --border-main: #ddd;
            --border-secondary: #eee;
            --background-color-dull: #34404f;
        }
    </style>
</head>