---
---
{% include head.html %}
<div class="container">
    <header>
        {% include nav.html %}
    </header>
    <main>
        <!-- Add your main content here -->
         {% if page.heroContent %}
            {% include_relative {{ page.heroContent }} %}
        {% endif %}
        {% if page.heroContentRest %}
            {% for val in page.heroContentRest %}
                {% include_relative {{ val }} %}
            {% endfor %}
        {% endif %}
    </main>
    <footer>
        <!-- Add your footer content here -->
    </footer>
</div>